.~
*~
*.zip
gschemas.compiled
*.mo
node_modules/
resources.gresource

.vscode/

_po/
_build/
build-stamp
debian/sbctl/
debian/.debhelper/
debian/.debhelper-build/
debian/debhelper-*
debian/.debhelper-clean/
debian/changelog

debian/files
.version

contrib/completions/

tags
releases/*
/sbctl
docs/*.5
docs/*.8
rootfs*
VERSION
