Source: sbctl
Section: admin
Priority: optional
Maintainer: Michael Schaecher <michaelschaecher@mlstidbits.com>
Rules-Requires-Root: no
Build-Depends:
 libpcsclite-dev, debhelper-compat (= 13), asciidoc-base
Standards-Version: 4.6.2
Homepage: https://MLSTidbits.com/sbctl
#Vcs-Browser: https://salsa.debian.org/debian/sbctl
Vcs-Git: https://MLSTidbits.com/sbctl.git

Package: sbctl
Architecture: any
Multi-Arch: foreign
Depends:
 systemd-boot, systemd-boot-efi, sbsigntool, efibootmgr, efitools, golang, inotify-tools
Suggests:
Description: A simple tool to manage Secure Boot keys on Linux
 sbctl is a simple tool to manage Secure Boot keys on Linux. It allows you to
 easily enroll your own keys, sign your own kernels, and manage the Secure Boot
 key database.

